# Build output
_site/

# Scala-cli artifacts
.scala-build/
.bsp/

# Rust build artifacts
highlighter/target/

# Old Jekyll artifacts (can be removed)
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/

# Recovery
/recovery/
